:root {
    --bgcl: hsl(0, 0%, 96%);
    --seccondary-color: hsl(0, 84%, 64%);
    --blue-color: hsl(210, 32%, 28%);
    --Lightblue-color: hsl(210, 32%, 50%);
    --dark-color: hsl(0, 0%, 28%);
}

.gridPOS{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-layout {
    display: grid;
    width: 100vw;
    height: fit-content;
    min-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    align-items: center;
    text-align: center;
        /* delete later */
    border: 0px solid black;
}

.grid-item{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-title {
    font-size: 60px;
    justify-self: center;
    align-self: center;
    color: var(--bgcl);
    transition: all 0.8s ease;
}

.main-title:hover {
    text-shadow: 10px 10px var(--dark-color);
}

/* code for the spinning transition thing */


.grid-item:nth-child(2){
    height: fit-content;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    perspective: 600px;
}

@media only screen and (max-width: 600px) {
    .grid-item:nth-child(2){
        perspective: 300px;
    }
}

.spinning-transition {
    width: 30%;
    aspect-ratio: 1 / 1;
    opacity: 1;
    fill: var(--bgcl);
    transform: rotateX(0deg);
    transition: transform 2s ease, scale 2s ease, opacity 0.5s ease;
}

.spinning-shape {
    transition: all 1s ease;
}
